* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(0, 0%, 95%);
}
main {
  width: 61%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: left;
  font-size: 15px;
  color: white;
}
.sedans {
  background-color: hsl(31, 77%, 52%);
  padding: 2em;
  width: 100%;
}
.suv {
  background-color: hsl(184, 100%, 22%);
  padding: 2em;
  width: 100%;
}
.luxury {
  background-color: hsl(179, 100%, 13%);
  padding: 2em;
  width: 100%;
}
h2 {
  padding: 1em;
  text-align: left;
  font-family: "Big Shoulders Display", cursive;
  font-weight: 700;
}
p {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  margin-top: 3px;
  margin-bottom: 2px;
}
button {
  border-radius: 15px;
  padding: 5px;
  color: hsla(0, 0%, 100%, 0.75);
  margin: 15px 0px;
}
button a {
  text-decoration: none;
  color: white;
}
.sedans button:hover {
  background-color: hsl(31, 77%, 52%);
  color: white;
}
.sedans button a:hover {
  color: white;
}
.sedans button a {
  color: hsl(31, 77%, 52%);
}
.suv button:hover {
  background-color: hsl(184, 100%, 22%);
  color: white;
}
.suv button a:hover {
  color: white;
}
.suv button a {
  color: hsl(184, 100%, 22%);
}
.luxury button:hover {
  background-color: hsl(179, 100%, 13%);
  color: white;
}
.luxury button a:hover {
  color: white;
}
.luxury button a {
  color: hsl(179, 100%, 13%);
}
